

<div class="card card-body">
    <h3>Video Idea</h3>
    <form action="/ideas" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="" class="form-control" placeholder="" aria-describedby="helpId" required>

        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <textarea name="details" class="form-control" cols="20" rows="10" required></textarea>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>