<h1>Welcome</h1>
<p>Welcome to StoryBooks 1.0.0</p>
<p>Post Stories from the best and worst of your life and choose whether you want them to be read by the world or
    completely private for your own personal diary.

    {{#if user}}

    {{else}}
    <br>
    <br>
    
    <div class="center">
        <a href="/auth/google" class="btn red darken-1"><i class="fa fa-google left"></i>Login with Google</a>
    </div>

    {{/if}}



</p>