<%- include('partials/head.ejs') %>
<h2>About Us</h2>
<p>This is more about me, yada yada Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur expedita minus asperiores harum rerum impedit ad, quasi deserunt ab officia necessitatibus modi temporibus at porro ratione possimus vero eum recusandae.</p>

</body>
</html>