<%- include('partials/head.ejs') %>

<div class='form'>
        <form action="/admin/add-user" method="post">
            <div>
              <label for="name">Name</label>
              <input type="text" name="name" id="name" />
            </div>
            <div>
                <label for="mail">Email</label>
                <input type="email" name="email" id="mail">
            </div>
            <div>
                <label for="phone">Mobile</label>
                <input type="number" name="phone" id="phone">
            </div>
            <div>
                <label for="birthdate">DOB</label>
                <input type="date" name="birthdate" id="birthdate">
            </div>
            <div>
                <button type="submit">Send Data</button>
            </div>
            <div></div>
          </form>
</div>
 
  </body>
</html>
