<nav>
    <div>
        WechCorp
    </div>
    <div>
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
</nav>
<h1 class="title">{{title}}</h1>