<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/main.css">
    <title>Welcome Page</title>
  </head>
  <body>    
    <header>
        <div>
            Main Page
        </div>
        <div>
            Users Page
        </div>
    </header>
    <p>
     The Page You are looking for cannot be found
    </p>
  </body>
</html>
